<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htu.yyzx.mapper.BackDownMapper">

    <resultMap id="BaseResultMap" type="com.htu.yyzx.model.entity.BackDown">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="remarks" column="remarks" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="isDeleted" jdbcType="INTEGER"/>
            <result property="customerId" column="customerId" jdbcType="INTEGER"/>
            <result property="retreatTime" column="retreatTime" jdbcType="DATE"/>
            <result property="retreatType" column="retreatType" jdbcType="INTEGER"/>
            <result property="retreatReason" column="retreatReason" jdbcType="VARCHAR"/>
            <result property="auditStatus" column="auditStatus" jdbcType="INTEGER"/>
            <result property="auditPerson" column="auditPerson" jdbcType="VARCHAR"/>
            <result property="auditTime" column="auditTime" jdbcType="DATE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,remarks,isDeleted,
        customerId,retreatTime,retreatType,
        retreatReason,auditStatus,auditPerson,
        auditTime
    </sql>
</mapper>
