<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htu.yyzx.mapper.BedMapper">

    <resultMap id="BaseResultMap" type="com.htu.yyzx.model.entity.Bed">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="roomNo" column="roomNo" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="remarks" column="remarks" jdbcType="INTEGER"/>
        <result property="bedNo" column="bedNo" jdbcType="VARCHAR"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="createBy" column="createBy" jdbcType="INTEGER"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="updateBy" jdbcType="INTEGER"/>
        <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,roomNo,status,
        remarks,bedNo,createTime,
        createBy,updateTime,updateBy,
        isDelete
    </sql>
</mapper>
