<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htu.yyzx.mapper.MenuMapper">

    <resultMap id="BaseResultMap" type="com.htu.yyzx.model.entity.Menu">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="menuIndex" column="menuIndex" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="path" column="path" jdbcType="VARCHAR"/>
        <result property="parentId" column="parentId" jdbcType="INTEGER"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="createBy" column="createBy" jdbcType="INTEGER"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="updateBy" jdbcType="INTEGER"/>
        <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,menuIndex,title,
        icon,path,parentId,
        createTime,createBy,updateTime,
        updateBy,isDelete
    </sql>

    <select id="queryMenusByMenuIds" resultType="com.htu.yyzx.model.entity.Menu">
        select * from menu where id in
        <foreach collection="list" item="id" separator="," close=")" open="(">
            #{id}
        </foreach>
    </select>
    <select id="queryByParentId" resultType="com.htu.yyzx.model.entity.Menu">
        select *
        from menu
        where parentId = #{parentId}
    </select>
</mapper>
