<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htu.yyzx.mapper.NurseContentMapper">

    <resultMap id="BaseResultMap" type="com.htu.yyzx.model.entity.NurseContent">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="serialNumber" column="serialNumber" jdbcType="VARCHAR"/>
            <result property="nursingName" column="nursingName" jdbcType="VARCHAR"/>
            <result property="servicePrice" column="servicePrice" jdbcType="VARCHAR"/>
            <result property="message" column="message" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="executionCycle" column="executionCycle" jdbcType="VARCHAR"/>
            <result property="executionTimes" column="executionTimes" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="isDeleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,serialNumber,nursingName,
        servicePrice,message,status,
        executionCycle,executionTimes,isDeleted
    </sql>
</mapper>
