<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htu.yyzx.mapper.NurseLevelItemMapper">

    <resultMap id="BaseResultMap" type="com.htu.yyzx.model.entity.NurseLevelItem">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="levelId" column="levelId" jdbcType="INTEGER"/>
            <result property="itemId" column="itemId" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,levelId,itemId
    </sql>
    <select id="getItemIdByLevelName" parameterType="String" resultType="Integer">
        SELECT itemId
        FROM nurse_level_item
        WHERE levelId = (
            SELECT id
            FROM nurse_level
            WHERE levelName = #{levelName}
        )
    </select>
</mapper>
